# **Chicago crime analysis**

In [12]:
## Importing required libraries
import pandas as pd

Dataset source: https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-Present/ijzp-q8t2/about_data

## Importing the Dataset

In [13]:
## Reading the data
crimes = pd.read_csv('Crimes_-_2001_to_Present_20241029.csv')

In [14]:
crimes.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11037294,JA371270,03/18/2015 12:00:00 PM,0000X W WACKER DR,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,BANK,False,False,...,42.0,32.0,11,NaN,NaN,2015,08/01/2017 03:52:26 PM,NaN,NaN,NaN
1,11646293,JC213749,12/20/2018 03:00:00 PM,023XX N LOCKWOOD AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,False,...,36.0,19.0,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
2,11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,15.0,63.0,11,NaN,NaN,2016,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,11645959,JC211511,12/20/2018 04:00:00 PM,045XX N ALBANY AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,False,...,33.0,14.0,08A,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
4,11645601,JC212935,06/01/2014 12:01:00 AM,087XX S SANGAMON ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,21.0,71.0,11,NaN,NaN,2014,04/06/2019 04:04:43 PM,NaN,NaN,NaN

In [15]:
crimes.shape

(8187014, 22)

The crimes dataset contain 22 columns and 8187014 rows.

In [16]:
## checking columns and their datatypes
crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8187014 entries, 0 to 8187013
Data columns (total 22 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Case Number           object
 2   Date                  object
 3   Block                 object
 4   IUCR                  object
 5   Primary Type          object
 6   Description           object
 7   Location Description  object
 8   Arrest                bool
 9   Domestic              bool
 10  Beat                  int64
 11  District              float64
 12  Ward                  float64
 13  Community Area        float64
 14  FBI Code              object
 15  X Coordinate          float64
 16  Y Coordinate          float64
 17  Year                  int64
 18  Updated On            object
 19  Latitude              float64
 20  Longitude             float64
 21  Location              object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 1.2+ GB

Following is the short description for each column accroding to the data source:

- **ID**: Unique identifier for the record.
- **Case Number**: The Chicago Police Department RD Number (Records Division Number), which is unique to the incident.
- **Date**: Date when the incident occurred. this is sometimes a best estimate.
- **Block**: The partially redacted address where the incident occurred, placing it on the same block as the actual address.
- **IUCR**: The Illinois Unifrom Crime Reporting code. This is directly linked to the Primary Type and Description. See the list of IUCR codes at https://data.cityofchicago.org/d/c7ck-438e.
- **Primary Type**: The primary description of the IUCR code.
- **Description**: The secondary description of the IUCR code, a subcategory of the primary description.
- **Location Description**: Description of the location where the incident occurred.
- **Arrest**: Indicates whether an arrest was made.
- **Domestic**: Indicates whether the incident was domestic-related as defined by the Illinois Domestic Violence Act.
- **Beat**: Indicates the beat where the incident occurred. A beat is the smallest police geographic area â€“ each beat has a dedicated police beat car. Three to five beats make up a police sector, and three sectors make up a police district. The Chicago Police Department has 22 police districts. See the beats at https://data.cityofchicago.org/d/aerh-rz74.
- **District**: Indicates the police district where the incident occurred. See the districts at https://data.cityofchicago.org/d/fthy-xz3r.
- **Ward**: The ward (City Council district) where the incident occurred. See the wards at https://data.cityofchicago.org/d/sp34-6z76.
- **Community Area**: Indicates the community area where the incident occurred. Chicago has 77 community areas. See the community areas at https://data.cityofchicago.org/d/cauq-8yn6.
- **FBI Code**: Indicates the crime classification as outlined in the FBI's National Incident-Based Reporting System (NIBRS).See the Chicago Police Department listing of these classifications at https://gis.chicagopolice.org/pages/crime_details.
- **X Coordinate**: The x coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.
- **Y Coordinate**: The y coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.
- **Year**: Year the incident occurred.
- **Updated On**: Date and time the record was last updated.
- **Latitude**: The latitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.
- **Longitude**: The longitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.
- **Location**: The location where the incident occurred in a format that allows for creation of maps and other geographic operations on this data portal. This location is shifted from the actual location for partial redaction but falls on the same block.

## Removing unnecessary columns

According to above information, we planned to remove few columns:
- ID: not required for visualizations
- Case Number: we will not require this for visualizations, hence we will remove it
- Block: masked address of incident, hence we can remove it
- IUCR: This is the code for'Primary Type' column. Since we already have the information there, we can remove this column
- Beat: This also doesn't give much information in visualizations as it just gives beat number for each latitude and longitude
- District: We have community area information and so removing this field
- Ward: We have community area information and so removing this field
- FBI Code: We crime type already in primary type and so removing this field
- X Coordinate: Since we have latitude information, this can be removed
- Y Coordinate: Since we have longitude information, this can be removed
- Updated On: record update time; not required for visualization or analysis
- Location: This is nothing but combination of Latitude and Longitude, hence we can remove it

In [17]:
## removing the above mentioned columns
crimes.drop(columns = ['ID', 'Case Number', 'Block', 'IUCR', 'Beat', 'District', 'Ward', 'FBI Code', 'X Coordinate', 'Y Coordinate', 'Updated On', 'Location'], inplace = True)
crimes.head()

,Date,Primary Type,Description,Location Description,Arrest,Domestic,Community Area,Year,Latitude,Longitude
0,03/18/2015 12:00:00 PM,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,BANK,False,False,32.0,2015,NaN,NaN
1,12/20/2018 03:00:00 PM,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,False,19.0,2018,NaN,NaN
2,05/01/2016 12:25:00 AM,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,63.0,2016,NaN,NaN
3,12/20/2018 04:00:00 PM,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,False,14.0,2018,NaN,NaN
4,06/01/2014 12:01:00 AM,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,71.0,2014,NaN,NaN

## Truncating the dataset for past 10 years data

We would like to consider timeframe of 10 years for analysis, i.e from 01/01/2014 to 12/31/2023

In [18]:
crimes = crimes[(crimes['Year'] >= 2014) & (crimes['Year'] < 2024)]

In [19]:
# Checking if the datset is truncated properly by checking min date and max date
print(f"The data is from {crimes['Date'].min()} to {crimes['Date'].max()}")

The data is from 01/01/2014 01:00:00 AM to 12/31/2023 12:55:00 AM

In [20]:
# Generate summary statistics for the final dataset
crimes.describe(include='all')

,Date,Primary Type,Description,Location Description,Arrest,Domestic,Community Area,Year,Latitude,Longitude
count,2534426,2534426,2534426,2522941,2534426,2534426,2.534424e+06,2.534426e+06,2.494327e+06,2.494327e+06
unique,1158464,35,519,200,2,2,NaN,NaN,NaN,NaN
top,01/01/2015 12:01:00 AM,THEFT,SIMPLE,STREET,False,False,NaN,NaN,NaN,NaN
freq,202,567208,278000,608269,2048333,2047600,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,3.687786e+01,2.018347e+03,4.184343e+01,-8.767045e+01
std,NaN,NaN,NaN,NaN,NaN,NaN,2.147082e+01,2.894607e+00,8.704559e-02,5.992231e-02
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,2.014000e+03,3.661945e+01,-9.168657e+01
25%,NaN,NaN,NaN,NaN,NaN,NaN,2.300000e+01,2.016000e+03,4.176824e+01,-8.771298e+01
50%,NaN,NaN,NaN,NaN,NaN,NaN,3.200000e+01,2.018000e+03,4.186169e+01,-8.766405e+01
75%,NaN,NaN,NaN,NaN,NaN,NaN,5.400000e+01,2.021000e+03,4.190618e+01,-8.762771e+01
max,NaN,NaN,NaN,NaN,NaN,NaN,7.700000e+01,2.023000e+03,4.202267e+01,-8.752453e+01

In [21]:
## checking for null values in each column
for column in crimes.columns:
    print(f'Sum of null values in {column} are: {sum(crimes[column].isnull())}')

Sum of null values in Date are: 0
Sum of null values in Primary Type are: 0
Sum of null values in Description are: 0
Sum of null values in Location Description are: 11485
Sum of null values in Arrest are: 0
Sum of null values in Domestic are: 0
Sum of null values in Community Area are: 2
Sum of null values in Year are: 0
Sum of null values in Latitude are: 40099
Sum of null values in Longitude are: 40099

Since the null values count is very less when compared to dataframe size, we are proceeding with removing the null values.

In [22]:
crimes = crimes.dropna(subset=['Location Description', 'Community Area', 'Latitude', 'Longitude'])

In [23]:
## final check if nulls are removed from all columns
for column in crimes.columns:
    print(f'Sum of null values in {column} are: {sum(crimes[column].isnull())}')

Sum of null values in Date are: 0
Sum of null values in Primary Type are: 0
Sum of null values in Description are: 0
Sum of null values in Location Description are: 0
Sum of null values in Arrest are: 0
Sum of null values in Domestic are: 0
Sum of null values in Community Area are: 0
Sum of null values in Year are: 0
Sum of null values in Latitude are: 0
Sum of null values in Longitude are: 0

Since the dataset is now cleaned and ready for analysis, we will save it and use it further for visualizations

In [24]:
crimes.to_csv('crimes_2014to2023.csv', index=False)